<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SNAKE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_cobra.css') }}">
</head>
<body>
    <div class="game-container">
        <h1>SNAKE</h1>
        <div id="placar">Pontos: <span id="pontuacao">0</span></div>
        
        <canvas id="snakeCanvas" width="400" height="400"></canvas>
        
        <div class="controls">
            <button onclick="location.href='/'">MENU INICIAL</button>
            <button onclick="location.reload()">REINICIAR</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script_cobra.js') }}"></script>
</body>
</html>